argparse==1.2.1
funcsigs==1.0.2
mock==2.0.0
numpy==1.11.2
pandas==0.19.1
pbr==1.10.0
protobuf==3.1.0
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
tensorflow-gpu==0.12.0rc1
wheel==0.29.0
wsgiref==0.1.2
